.input-color {
	/* Entire line with colored box and text description */
    position: relative;
}
.input-color .description {
    /* Description paragraph */
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.input-color .color-box {
	/* Colored box */
	width: 25px;
	height: 25px;
	display: inline-block;
    background-color: #ccc;
    position: absolute;

	left: 5px;
	top: 2px;
	bottom: 0px;
	
	border:1px solid black;
}
